@model Expense_Tracker.Data.ApplicationUser
@{
    ViewData["Title"] = "Index";
}

<style>
    .text-center,.row{
        margin-bottom: 10px;
    }
</style>

<h1>Your Profile</h1>

<div class="text-center">
    <div>
        @Html.DisplayName("Profile Visibility"):
        @if (Model.IsPublic)
        {
            @Html.DisplayName("Public")
        }
        else
        {
            @Html.DisplayName("Private")
        }
    </div>
    <div>
        <a class="btn btn-secondary" asp-action="ChangeVisibility">
            @if (Model.IsPublic)
            {
                @Html.DisplayName("Change to Private")
            }
            else
            {
                @Html.DisplayName("Change to Public")
            }
        </a>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sheets</h5>
                <p class="card-text">Manage your collection of income and expenses using Sheets.</p>
                <a class="btn btn-primary btn-block" asp-area="" asp-controller="Sheets" asp-action="Index">Sheets</a>
            </div>            
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Saving Goals</h5>
                <p class="card-text">Add saving goals to help keep you on track. Dont forget to update your goals!</p>
                <a class="btn btn-primary btn-block" asp-area="" asp-controller="SavingGoals" asp-action="Index">Saving Goals</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Profile Visibility</h5>
                <p class="card-text">Manage who has access to your profile and what type of access they have.</p>
                <a class="btn btn-primary btn-block" asp-area="" asp-controller="UserConnections" asp-action="Index">Profile Visibility</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Statistics</h5>
                <p class="card-text">View statistics about your sheets and information about your tendencies. Use this tool to help view how your budget is doing.</p>
                <a class="btn btn-primary btn-block" asp-area="" asp-controller="Statistics" asp-action="Index">Statistics</a>
            </div>
        </div>
    </div>
</div>

